%h2 Log In

= form_tag session_path do
  .clearfix
    = label_tag :login, "Login:"
    .input
      = text_field_tag :login, '', class: 'xlarge', autofocus: true
  .clearfix
    = label_tag :password, "Password:"
    .input
      = password_field_tag :password, '', class: 'xlarge'
  .actions
    = button_tag 'Log In', class: 'btn primary'
  %p
    = link_to "Sign Up for a New Account", new_user_path
    |
    = link_to "Reset Password", reset_password_users_path