= form_for [item, comment] do |f|
  %fieldset
    %legend Post a comment
    
    - if comment.errors.size > 0
      %p.message Error! Your comment is too long or too short.
    
    - if !logged_in?
      .clearfix
        %label &nbsp;
        .input
          %p Registered users should #{link_to('log in', login_url)} to populate these fields automatically.
      .clearfix
        = f.label :byline, "Your name:"
        .input
          = f.text_field :byline, class: 'xlarge'
    
    .clearfix
      = f.label :content, "Comment:"
      .input
        = f.text_area :content, class: 'xlarge', rows: 5
        %span.help-block You can use Textile here.
    
    .clearfix
      %label Live preview:
      .input
        #preview
          .entry
            %p &nbsp;
    
    = render :partial => 'home/signup_captcha'
    
    .actions
      = f.submit 'Post Comment', class: 'btn primary'