%table.zebra-striped
  %thead
    %tr
      %th ID
      %th Login
      %th URL
      %th Joined At
      %th Feed Approved
      %th &nbsp;
      %th &nbsp; 
  %tbody
    - @users.each do |u|
      %tr
        %td= u.id
        %td= u.login
        %td= link_to_if u.url, u.url, u.url
        %td= u.created_at.strftime("%b %d, %Y")
        %td= u.approved_for_feed
        %td
          = link_to 'approve', :action => 'approve', :id => u.id
          |
          = link_to 'disapprove', :action => 'disapprove', :id => u.id
        %td
          = link_to 'delete', u, :method => :delete, :confirm => "Delete?"