%table.zebra-striped
  %thead
    %tr
      %th ID
      %th Login
      %th URL
      %th Joined
      %th Feed Approved
      %th &nbsp;
      %th &nbsp;
      %th &nbsp; 
  %tbody
    - @users.each do |u|
      %tr
        %td= u.id
        %td= u.login
        %td= link_to_if u.url, u.url, u.url
        %td= u.created_at.strftime("%b %d, %Y")
        %td= u.is_approved_for_feed?
        %td
          = form_for u do |f|
            = f.hidden_field :is_approved_for_feed, :value => true
            %button.btn.small.primary Approve
        %td
          = form_for u do |f|
            = f.hidden_field :is_approved_for_feed, :value => false
            %button.btn.small Disapprove
        %td
          = link_to 'delete', u, :method => :delete, :confirm => "Delete?"