<%= error_messages_for :item %>

<blockquote class="comment">
  <span class="a">&#147;</span><span class="b">&#148;</span>


  <% if logged_in? %>
    <p>Posting as <strong><%= current_user.login %></strong></p>
  <% else %>
    <p class="description">
      Registered users should <%= link_to 'log in', login_url %> to populate these fields automatically. Unregistered? <%= link_to 'Sign up', signup_url %> so we can publish your post to the RSS &amp; Twitter feeds!
    </p>
    <p>
      <label for="byline" class="title">Your Name: <span class="hint">(required)</span></label><br/>
      <%= f.text_field :byline %>
    </p>
  <% end %>

  <p>
    <label for="title" class="title">Title:</label><br/>
    <%= f.text_field :title %>
  </p>

  <p class="description">
    Be sure to include a link to the item you are posting about. Otherwise, nobody will click through!
  </p>
  
  <p>
    <label for="title" class="title">Post Content: </label>
      <span class="hint">(<a href="http://www.textism.com/tools/textile/" rel="external">Textile formatting</a>)</span><br/>
    <% if method == 'post' %>
      <%= f.text_area :content, :cols => 90, :rows => 10, 
        :value => 'So I *just* released "this cool thing":http://cappuccinoflow.com and blah blah blah...' %>
    <% else %>
      <%= f.text_area :content, :cols => 90, :rows => 10 %>
    <% end %>
  </p>
  
  <label for="preview" class="title">Live Preview: </label>
  <div id="preview">
    <h2 class="title"><a href="#"></a></h2>
    <div class="entry"><p>&nbsp;</p></div>
  </div>
  
  <%= render :partial => 'home/signup_captcha' unless logged_in? %>
  
  <p><%= f.submit "#{method == 'post' ? 'Post' : 'Update'} Item" %></p>
</blockquote>
