= form_for @item, :html => {:multipart => true} do |f|
  %fieldset
    - if logged_in?
      .clearfix
        %label &nbsp;
        .input
          %p
            Posting as
            %strong= current_user.login
    - else
      .clearfix
        %label &nbsp;
        .input
          %p Registered users should #{link_to 'log in', login_url} to populate these fields automatically. Unregistered? #{link_to 'Sign up', signup_url} so we can publish your post to the RSS &amp; Twitter feeds!

      .clearfix
        = f.label :byline, "Your name:"
        .input
          = f.text_field :byline, class: 'xlarge', autofocus: true

    .clearfix
      = f.label :title, "Title:"
      .input
        = f.text_field :title, class: 'xlarge', autofocus: logged_in?
    .clearfix
      = f.label :url, "URL:"
      .input
        = f.text_field :url, class: 'xlarge'
    .clearfix
      = f.label :content, "Description:"
      .input
        = f.text_area :content, class: 'xxlarge', rows: 5
        %span.help-block
          (#{link_to('Textile Formatting', 'http://www.textism.com/tools/textile', target: '_blank')})
    .clearfix
      %label Optional image:
      %label
        = check_box_tag :no_image
        No image
      .input
        = hidden_field_tag :image_url
        %ul#image_list
        .pull-left
          = link_to 'Previous Image', '#', id: 'previous_image', class: 'btn'
        .pull-right
          = link_to 'Next Image', '#', id: 'next_image', class: 'btn'
    .clearfix
      %label Preview:
      .input
        #preview
          %h2.title= link_to '', '#'
          .entry
            %p &nbsp;

    - unless logged_in?
      = render :partial => 'home/signup_captcha'

    .actions
      = f.submit @item.new_record? ? "Post Item" : "Update Item", class: 'btn primary'