<div class="post" style="position: relative;" id="item_wrapper_for_<%= item.id %>">

  <h2 class="title"><%= item.title %></h2>
  
	<div class="entry">
  	<%= to_textile item.content %>
	</div>
  
  <% div_for(item, :class => "admin-actions") do %>
	  <% if admin? %> 
	    <%= link_to 'Remove', item, :confirm => 'Are you sure?', :method => :delete %>
	  <% end %>
    
	  <% if can_edit?(item) %>
      <% time_left = edit_time_left(item) %>
      <%= link_to 'Edit', edit_item_path(item),
                  :title => "Last chance of editing ends #{time_left.nil? ? 'never' : ('in ' + time_left.to_s + ' minutes')}." %>
	  <% end %>
	<% end %>
	
	<div class="metadata">
	  Posted by <%= user_link(item) %> 
	  at <%= item.created_at.strftime("%R") %> &mdash;
	  
	  <%= link_to pluralize(item.comments.size, 'comment'), "#{item_path(item)}/#comments", :class => 'comments_link', :title => "Read or write comments" %>
  </div>
</div>
