- unless params[:q].try(:strip).blank?
  %h2
    Search results for '#{params[:q]}'
    .pull-right= link_to 'Clear Search', root_path, class: 'btn'
    
- if @items.blank?
  %p No items found!
- else
  - @items.each do |item|
    - if should_display_date? @last_date, item
      %h2= item.created_at.strftime("%B %d, %Y")
      - @last_date = item.created_at
    = render :partial => "items/item", :locals => {:item => item}
    %hr

  = will_paginate @items