.topbar
  .topbar-inner
    .container
      = link_to image_tag('top_bar_logo.png') + " " + site_config.site_title, root_path, class: 'brand'
      %ul.nav
        %li.active= link_to 'Home', root_path
        %li= link_to 'Post Item', new_item_path
        -#%li= link_to 'API', api_info_path
      .pull-right
        = form_tag items_path, method: 'get' do
          = text_field_tag :q, '', class: 'large', placeholder: 'Search'
        %ul.nav
          - if logged_in?
            %li= link_to 'Log Out', logout_url
          - else
            %li= link_to 'Sign Up', signup_url
            %li= link_to 'Log In', login_url