!!! 5

%html
  %head
    %title= title
    %meta{name: 'robots', content: "index, follow"}
    
    - if @front_page
      %meta{name: "description", content: site_config.sub_title}
      %meta{name: "keywords", content: site_config.meta.keywords}
    
    %meta{name: 'author', content: site_config.meta.author}
    
    %link{rel: 'alternate', type: 'application/rss+xml', title: site_config.site_title, href: site_config.rss_url}
    
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    
    - if site_config.javascript.enabled
      = javascript_include_tag "application"
    
    = csrf_meta_tag
    = render :partial => 'layouts/analytics'
  %body{class: @body_class}
    = render partial: 'common/top_bar'
    
    .container
      .content
        .page-header
          %h1= title
        .row
          .span11
            - if flash[:notice]
              %p.message= flash[:notice]
            = yield
          .span5
            .well= render 'layouts/sidebar'
        
        %footer.row
          %p &copy; 2011.